<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.algorithm.web.mapper.al.AlResumeFaultDataMapper">

  <resultMap id="alResumeDataMap" type="com.algorithm.web.model.entity.al.AlResumeFaultData">
    <id property="id" column="id"/>
    <result property="projectId" column="project_id"/>
    <result property="deviceId" column="device_id"/>
    <result property="faultTime" column="fault_time"/>
    <result property="faultName" column="fault_name"/>
  </resultMap>

  <select id="getFaultInfo" resultType="java.util.Map">
    select fault_time,fault_name from al_resume_fault_data where project_id=#{project_id} and device_id=#{device_id}
  </select>

</mapper>
