<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.algorithm.web.mapper.al.DomainModelMapper">
    <select id="exitName" resultType="java.lang.String">
        select model_name from domain_model where model_name = #{name}
    </select>
</mapper>